[Desktop Entry]
Version=1.0
Type=Application
Name=VirtualBox KVM
Comment=Run VirtualBox KVM AppImage
Exec=/opt/virtualbox-kvm/VirtualBox-KVM.AppImage
Icon=/opt/virtualbox-kvm/virtualbox.png
Terminal=false
Categories=System;Emulator;
StartupNotify=true
